<head>
    <title> AoT </title>
    </head>
    
    <body>
    <h1 style="color:red; text-align:center;"><i> Attacco Dei Giganti <br>
        <img src=https://i0.wp.com/www.justnerd.it/wp-content/uploads/2021/12/attack-on-titan-4-parte-2.jpg?fit=1200%2C585&ssl=1></br>
        
        <audio controls autoplay>
            <source src="AOTOP.mp3" type="audio/mpeg">
        </audio>
    </i>
    </h1>
    <h3 style="text-align:center;"> Diverse centinaia di anni fa, la razza umana fu quasi sterminata dai giganti. Si racconta di quanto questi fossero alti, privi di intelligenza e affamati di carne umana; peggio ancora, essi sembra divorassero umani più per piacere che per necessario sostentamento.
        Una piccola percentuale dell'umanità però sopravvisse asserragliandosi in una città circondata da mura estremamente alte, anche più alte del più grande di giganti.
        Eren è un adolescente che vive in questa città, dove non si vede un gigante da oltre un secolo, ma presto un orrore indicibile si palesa alle sue porte, ed un gigante più grande di quanto si sia mai sentito narrare, appare dal nulla abbattendo le mura ed imperversando assieme ad altri suoi simili fra la popolazione.
        Eren, vinto il terrore iniziale, si ripromette di eliminare ogni singolo gigante, per vendicare l'umanità. 
    </h3>
    <h4><a href="https://pertinigenzano.edu.it""><h1 style="text-align:center;"> SCUOLA </a></h4>
    <h4><a href=https://www.animeworld.tv/play/lattacco-dei-giganti.CEg5l/EU1-NV><h1 style="text-align:center;"> Anime World </a></h4>
    </body>
    